<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletSalvar</servlet-name>
        <servlet-class>Servlets.ServletSalvarP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlterarP</servlet-name>
        <servlet-class>Servlets.ServletAlterarP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarP</servlet-name>
        <servlet-class>Servlets.ServletEliminarP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSalvarC</servlet-name>
        <servlet-class>Servlets.ServletSalvarC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlterarC</servlet-name>
        <servlet-class>Servlets.ServletAlterarC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarC</servlet-name>
        <servlet-class>Servlets.ServletEliminarC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSalvarZ</servlet-name>
        <servlet-class>Servlets.ServletSalvarZ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlterarZ</servlet-name>
        <servlet-class>Servlets.ServletAlterarZ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarZ</servlet-name>
        <servlet-class>Servlets.ServletEliminarZ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSalvarE</servlet-name>
        <servlet-class>Servlets.ServletSalvarE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlterarE</servlet-name>
        <servlet-class>Servlets.ServletAlterarE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarE</servlet-name>
        <servlet-class>Servlets.ServletEliminarE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSalvarG</servlet-name>
        <servlet-class>Servlets.ServletSalvarG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlterarG</servlet-name>
        <servlet-class>Servlets.ServletAlterarG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarG</servlet-name>
        <servlet-class>Servlets.ServletEliminarG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSalvarCL</servlet-name>
        <servlet-class>Servlets.ServletSalvarCL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarCL</servlet-name>
        <servlet-class>Servlets.ServletEliminarCL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSalvarF</servlet-name>
        <servlet-class>Servlets.ServletSalvarF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarF</servlet-name>
        <servlet-class>Servlets.ServletEliminarF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlterarF</servlet-name>
        <servlet-class>Servlets.ServletAlterarF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSalvarI</servlet-name>
        <servlet-class>Servlets.ServletSalvarI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlterarI</servlet-name>
        <servlet-class>Servlets.ServletAlterarI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarI</servlet-name>
        <servlet-class>Servlets.ServletEliminarI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSalvarA</servlet-name>
        <servlet-class>Servlets.ServletSalvarA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarA</servlet-name>
        <servlet-class>Servlets.ServletEliminarA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSalvarT</servlet-name>
        <servlet-class>Servlets.ServletSalvarT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarT</servlet-name>
        <servlet-class>Servlets.ServletEliminarT</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSalvar</servlet-name>
        <url-pattern>/ServletSalvar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlterarP</servlet-name>
        <url-pattern>/ServletAlterarP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarP</servlet-name>
        <url-pattern>/ServletEliminarP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSalvarC</servlet-name>
        <url-pattern>/ServletSalvarC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlterarC</servlet-name>
        <url-pattern>/ServletAlterarC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarC</servlet-name>
        <url-pattern>/ServletEliminarC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSalvarZ</servlet-name>
        <url-pattern>/ServletSalvarZ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlterarZ</servlet-name>
        <url-pattern>/ServletAlterarZ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarZ</servlet-name>
        <url-pattern>/ServletEliminarZ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSalvarE</servlet-name>
        <url-pattern>/ServletSalvarE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlterarE</servlet-name>
        <url-pattern>/ServletAlterarE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarE</servlet-name>
        <url-pattern>/ServletEliminarE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSalvarG</servlet-name>
        <url-pattern>/ServletSalvarG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlterarG</servlet-name>
        <url-pattern>/ServletAlterarG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarG</servlet-name>
        <url-pattern>/ServletEliminarG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSalvarCL</servlet-name>
        <url-pattern>/ServletSalvarCL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarCL</servlet-name>
        <url-pattern>/ServletEliminarCL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSalvarF</servlet-name>
        <url-pattern>/ServletSalvarF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarF</servlet-name>
        <url-pattern>/ServletEliminarF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlterarF</servlet-name>
        <url-pattern>/ServletAlterarF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSalvarI</servlet-name>
        <url-pattern>/ServletSalvarI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlterarI</servlet-name>
        <url-pattern>/ServletAlterarI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarI</servlet-name>
        <url-pattern>/ServletEliminarI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSalvarA</servlet-name>
        <url-pattern>/ServletSalvarA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarA</servlet-name>
        <url-pattern>/ServletEliminarA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSalvarT</servlet-name>
        <url-pattern>/ServletSalvarT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarT</servlet-name>
        <url-pattern>/ServletEliminarT</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
